name: CD

on:
  push:
    tags: [v*.*.*]

permissions:
  contents: write

jobs:
  publish:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Publish crate
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish --locked

  release-binary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build binary
        run: cargo build --release --bin "shellver"

      - name: Upload release asset
        run: |
          mkdir -p dist
          cp "target/release/shellver" "dist/shellver-x86_64-unknown-linux-gnu"
      - name: GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
